.scene-nav-info {
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    opacity: 0.7;
    font-size: 15px !important;
}
  
.wrapper {
    position: relative;
    margin:50px;
    border: solid #aaaaaa;
    border-width: thin;
}
#info{
    position: absolute;
    top: 0.5em;
    left:1em;
    right: 0;
    width: fit-content;
}
#3d-graph{
    height: 500px;
}
.dg .cr.boolean {
    border-left: 3px solid #fa003e !important;
}

.dg .cr.number {
    border-left: 3px solid #13a6fc !important;
}

#gui {   
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.assoc_parent{
    display: flex;
}

.assoc_img {
    flex: 50%;
    padding: 20px;
}