/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
li,  
td {
   border: 0;
   font: inherit;
   font-size: 100%;
   font-style: inherit;
   font-weight: inherit;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
}
html {
   overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
   -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
   -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

/*
====> 2.1 Headings
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
   color: #24292e;
   line-height: 1.4;
   padding-bottom: 15px;
}
h1 { 
   font-size: 30px; 
   font-weight: 500;   
}
h2 { 
   font-size: 28px; 
   font-size: 500;
}
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 19px; }

/*
====> 2.2 Others
--------------------------------------------------------------*/
body,
textarea {
   color: #24292e;
   font-size: 100%;
   line-height: 1.5;
   font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple color emoji, Segoe UI Emoji;
   font-weight: 300;
}
p {
   color: #24292e;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple color emoji, Segoe UI Emoji;
   font-size: 100%;
   line-height: 1.5;
   margin-bottom: 7px;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/

/*
====> 3.2 Table
--------------------------------------------------------------*/
table { /* tables still need 'cellspacing="0"' in the markup */
   border-collapse: collapse;
   border-spacing: 0;
   margin: 0 0 1.5em;
   width: 100%;
}
th {
   font-weight: bold;
}
th, td {
   border: 1px solid #f2f2f2;
   padding: 6px 10px;
}
th, td {
   text-align: left;
}

/*
====> 3.3 Lists
--------------------------------------------------------------*/
ul, ol {
   /* display: flex; */
   padding-left:20px;
   padding-right:20px;

}
ol {
   list-style: decimal;
}

/*
====> 3.5 Others
--------------------------------------------------------------*/
body {
   background: #f2f2f2; /* Fallback for when there is no custom background color defined. */
}
strong {
   font-weight: bold;
}
cite, em, i {
   font-style: italic;
}

a {
   color: rgb(76, 135, 199);
   text-decoration: none;
   -webkit-transition: 0.25s ease-in-out;
   -moz-transition: 0.25s ease-in-out;
   transition: 0.25s ease-in-out;
   -ms-transition: 0.25s ease-in-out;
   -o-transition: 0.25s ease-in-out;
}

img {
   max-width: 100%;
   height: auto;
   vertical-align: top;
   margin-bottom: 18px;
}
