<!DOCTYPE html>
<html>
<head>
    <title>Luke Trujillo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="/imgs/favicon.png">
    {{ css }}
    {{ src }}
</head>
<body class="main">
    <img class="img_header" src="/imgs/IMG_1975.jpg" alt="Some mountain">
    <div>
    <ul class="nav-bar">
        <li><a href="/"> Home </a></li>
        <li><a href="/cs/tikzpy/"> TikzPy </a></li>
        <li><a href="/math/associahedron/"> Associahedron </a></li>
        <li><a href="/about/"> About </a></li>
    </ul>
    </div>
<div class="main-content">
{{ content }}
</div>

</body>
</html>
